html {
  box-sizing: border-box;

}

*, *:before, *:after {
  box-sizing: inherit;

}

@font-face {
  font-family: "Eurostile";
  src: url(fonts/Eurostile.ttf);
  src: local("Eurostile"), url(fonts/Eurostile.tff) format("truetype");

  font-family: "curved-seven-segment";
  src: url(fonts/curved-seven-segment.ttf);
  src: local("curved-seven-segment"), url(fonts/curved-seven-segment.ttf) format("truetype");
}

body {
  background-image: url("images/bg_wood.jpg");
  background-color: #cccccc;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
}

#calcBody {
  width: 600px;
  height: 825px;
  background-color: #b4b5ba;
  border-radius: 4px;
}

#calcTop {
  background-image: url(images/bg_calc_header.png);
  background-repeat: repeat;
  padding-bottom: 20px;
}

#calcHeader {
  width: 600px;
  height: 112.5px;
  padding: 0px;

  background-image: url(images/bg_calc_header.png);
  background-repeat: repeat; 

  font-size: 18.75px;
  font-family: Eurostile;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

#calcHeaderTop {
  width: 600px;
  height: 37.5px;
}

#calcHeaderMain{
  display: flex;
}

#calcLogo {
  width: 187.5px;
  height: 18.75px;
  padding: 12.375px 37.5px;
}

#calcSolar {
  display: flex;
  justify-content: space-between;
  background-color: #80736a;
  width: 206.25px;
  height: 46.875px;
  border-radius: 4px;
  outline: 3px solid #a6a6a7;
  box-shadow: 3px 3px 1px #49463f inset;
}

.calcSolarPanel {
  display: flex;
  flex-grow: 1;
  background-color: #72665a;
  max-width: 50px;
  height: 46.875px;
  box-shadow: 0px 3px 1px #49463f inset;
}

.rightPanel {
  border-radius: 4px 0px 0px 4px;
  box-shadow: 3px 3px 1px #49463f inset;
}

.leftPanel {
  border-radius: 0px 4px 4px 0px;
}

#calcText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.headerText {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

#calcDisplay {
  width: 543.75px;
  height: 168.75px;
  background-color: #797e84;
  margin: auto;
  padding-top: 14px;
  border-radius: 6px;
  /*
  border-bottom-left-radius:20%;
  border-bottom-right-radius:20%;
  */
  border-radius: 0em 0em 100em 100em/3em;
}

#smallSigns {
  display: flex;
  justify-content: space-between;
}

#smallOperations {
  display: flex;
  justify-content: right;
  font-family: "curved-seven-segment";
}

#smallDivision pre {
  margin: 0px;
}

.smallIcon, .smallIconNeg {
  width: 15px;
  height: 15px;
  background-color: #000;
  color: #797e84;
  font-weight: bold;
  font-size: 15px;
  margin: 3px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

#calcLCD {
  width: 478.125px;
  height: 131.25px;
  background-color: #838578;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 4px 4px 4px #49463f inset;
}

#sevenSegment {
  width: 478.125px;
  height: 131.25px;
  font-family: "curved-seven-segment";
  font-size: 163px;
  top: -40px;
  position: relative;
  padding: 3px;
  text-align: right;
}

#calcButtHeader {
  height: 55px;

  border-bottom: 6px solid gray;
  border-radius: 100em / 5em;
  margin-top: -46px;
  margin-bottom: 46px;
  box-shadow: 0px 3px 1px #49463f;
}

#calcButts {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 106px;
}

.button {
  width: 75px;
  height: 65.625px;
  background-color: #7b7e83;
  color: #d6dde7;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-family: "Eurostile";
}

.buttonOutline {
  width: 79px;
  height: 70px;
  background-color: #585d63;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9px;
}

.addButt {
  height: 154px;
}

.addButtOutline {
  height: 158px;
}

.redButt {
  background-color: #91355e;
}

.blackButt {
  background-color: #4f5259;
}

#buttBot {
  margin-top: -88px;
  display: flex;
}




